body {
    font-family: 'Mont', sans-serif;
    font-size: 16px;
    color: #343434;
}

.container-left {
    padding-left: 5rem;
}

.red-color {
    color: #961616;
}

/* -------------------------------------
Section header - navigation */

.nav {
    background-color: #f5f5f5;
    padding: 13px 0;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-section {
    scroll-margin-top: 65px;
}

.nav-wrp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn-platforma {
    display: block;
    width: 24px;
    height: 24px;
    padding: 1px;
    cursor: pointer;
}

.nav-btn-platforma-icon {
    width: 22px;
    height: 22px;
}

.nav-btn-start-end-wrp {
    padding: 6px 0;
    max-width: 72px;
    min-width: 72px;
}

.nav-btn-start-end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 8px;
    background-color: #343434;
    border: none;
    border-radius: 135px;
    width: 100%;
}

.nav-btn-start-end-text {
    font-weight: 800;
    font-size: 12px;
    color: #f5f5f5;
    width: 100%;
}

.nav-btn-wrp {
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-btn-next-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.nav-btn-next-prev:disabled,
.nav-btn-start-end:disabled {
    cursor: not-allowed;
}

.nav-btn-start-end:disabled {
    background-color: #e0e0e0;
}

.nav-btn-start-end:disabled .nav-btn-start-end-text{
    color: #f5f5f5;
}

.nav-btn-icon {
    fill: #343434;
}

.nav-btn-next-prev:disabled .nav-btn-icon {
    fill: #e0e0e0;
}

.rotate {
    transform: rotate(180deg);
}

.nav-btn-share {
    padding: 5px 0px 5px 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-btn-share-icon {
    fill: #343434;
}

/* -------------------------------------
Section hero */

.hero {
    padding-top: 1.4rem;
    padding-bottom: 3.5rem;
}

.hero-portrait-img {
    padding: 3.5rem 0;
}

.hero-name-thin {
    font-size: 64px;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
}

.hero-name-bold {
    font-weight: 800;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
}

.text-main-container-right {
    text-align: right;
}

.text-main-bold {
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -0.01em;
}

.text-main-bold-right{
    display: inline-block;
    width: 130px;
    text-align: right;
}

.text-main-thin{
    line-height: 150%;
}

/* -------------------------------------
Introduction */

.intro .text-mrgn {
    margin-top: 2.45rem;
}

/* -------------------------------------
Blockquote */

.blockquote {
    margin-top: 1.4rem;
}

.blockquote-quote {
    position: relative;
}

.blockquote-big-part {    
    font-weight: 800;
    font-size: 50px;
    line-height: 0;
}

.blockquote-small-part {
    fill: #f5f5f5;
    position: absolute;
    top: -2.6rem;
    left: 2rem;
}

.blockquote-text {
    font-size: 24px;
    line-height: 150%;

    margin-top: 2.45rem;
}

/* -------------------------------------
Chapters */

.chapter-wrp {
    position: relative;
    margin-top: 3.5rem;
}

.chapter-number {
    font-weight: 800;
    font-size: 10px;
    line-height: 150%;

    position: absolute;
    top: 0.35rem;
    left: -1.4rem;
}

.chapter-title {
    font-weight: 300;
    font-size: 36px;
    line-height: 125%;

    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
}

.chapter-subtitle {
    font-weight: 800;
    font-size: 22px;
    line-height: 125%;

    margin-top: 1.75rem;
    margin-bottom: 0.35rem;
}

.chapter-two .chapter-title,
.chapter-three .chapter-title,
.chapter-four .chapter-title {
    padding-bottom: 1.75rem;
}

.text-mrgn {
    margin-bottom: 1.4rem;
}

.footer {
    padding-top: 3.5rem;
    padding-bottom: 2.45rem;
    overflow-y: hidden;
    position: relative;
}

.mrgn-after-blockquote {
    margin-top: 2.45rem;
}